{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<main role="main">
        <div class="wrapper">
            <div class="breadcrumb-wrap">
                <div class="container py-3">
                    <div class="row d-flex justify-content-md-between justify-content-sm-center">
                        <div class="col-md-4">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{% url 'home' %}">HillsPay</a></li>
                                    <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                        {{ product_currency.currency.name }} / {{ product_currency.game.name }}
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-lg-9">
                            <div class="product-info">
                                <div class="swiper-container rounded border">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/950x500.png' %} {% endif %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">Получу</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">Заплачу</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- edn: Col 9 -->
                        <div class="col-md-5 col-lg-3">
                            <div class="sidebar sticky-lg-top sticky-md-top">
                                <div class="sidebar-widget">
                                    <h3 class="mb-4">Наличие - {{ product_currency.availability }} {{ product_currency.currency.diversity }}</h3>
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-md-4">
                                            <div class="form-group text-md-right text-sm-center">
                                                <h2 class="item-widget-price">{{ product_currency.price_for_1_piece }}₽/1{{ product_currency.currency.diversity }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="form-control" style="text-align: center;">Выберите способ оплаты</label>
                                    <a class="btn btn-primary btn-block" href="{% url 'home:purchase_currency_add' product_currency.id %}">Купить</a>
                                </div>

                                <div class="sidebar-widget">
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="sidebar-widget-title--sm">Дополнительная информация</span>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <i class="las la-check mr-2 text-success"></i>Платформа - {{ product_currency.platform_currency.name }}
                                                </li>
                                                <li>
                                                    <i class="las la-check mr-2 text-success"></i>Наличие - {{ product_currency.availability }} шт
                                                </li>
                                                <li>
                                                    <i class="las la-check mr-2 text-success"></i><a href="{% url  'users:user_account' product_currency.user.id %}">{{ product_currency.user.username }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}