{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    {% if sells_currencies %}
        <main role="main">
            <div class="wrapper">
                <div class="breadcrumb-wrap">
                    <div class="container py-3">
                        <div class="row d-flex justify-content-md-between justify-content-sm-center">
                            <div class="col-md-4">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{% url 'home' %}">HillsPay</a></li>
                                        <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                            Мои продажи / <a class="card-title mb-0" href="{% url 'home:my_sells' %}" style="color: #319795;">Назад</a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card mb-4">
                                <div class="card-header border-bottom">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h6 class="card-title mb-0">Последние продажи внутриигровых валют</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-light border-bottom">
                                    <div class="row align-items-center">
                                        <div class="col-xs-12 col-md-6">
                                            <span class="font-14 text-muted">История продаж внутриигровых валют</span>
                                        </div>
                                        <div class="col-xs-12 col-md-6 align-self-center h3 text-primary text-right m-0">
                                            {{ sells_currencies.total_sum }}₽
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0">Дата</th>
                                                    <th class="border-top-0">Заказ</th>
                                                    <th class="border-top-0">Игра</th>
                                                    <th class="border-top-0">Валюта</th>
                                                    <th class="border-top-0">Наличие</th>
                                                    <th class="border-top-0">Покупатель</th>
                                                    <th class="border-top-0">Статус</th>
                                                    <th class="border-top-0">Сумма</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for sells_currency in sells_currencies %}
                                                    <tr>
                                                        <td>{{ sells_currency.published }}</td>
                                                        <td>#{{ sells_currency.id }}</td>
                                                        <td>{{ sells_currency.currency.game.name }}</td>
                                                        <td>{{ sells_currency.currency.name }}</td>
                                                        <td>{{ sells_currency.quantity }}</td>
                                                        <td><a href="{% url 'users:user_account' sells_currency.user.id %}"><span class="font-medium">{{ sells_currency.user.username }}</span></a></td>
                                                        <td>
                                                            <span class="badge badge-soft-success text-cuccess">{{ sells_currency.get_status_display }}</span>
                                                        </td>
                                                        <td><span class="font-medium">{{ sells_currency.price_for_1_piece }}₽</span></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% else %}
        <main role="main">
            <div class="wrapper">
                <div class="breadcrumb-wrap">
                    <div class="container py-3">
                        <div class="row d-flex justify-content-md-between justify-content-sm-center">
                            <div class="col-md-4">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{% url 'home' %}">HillsPay</a></li>
                                        <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                            Мои продажи / <a class="card-title mb-0" href="{% url 'home:my_sells' %}" style="color: #319795;">Назад</a>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="no-sells" style="text-align: center; margin: 100px 0 240px 0">
            <hr>
            <span>У вас нету продаж игровых валют</span>
            <hr>
        </div>
    {% endif %}
{% endblock %}